%h1
  Site no longer maintained
%p
  You are being redirected to
  %a{:id=>"catchallredirect", :href=>"http://www.jennifersmith.co.uk"} www.jennifersmith.co.uk
%p
  Have a nice day
:javascript
  if(window.location.search.indexOf('noredirect')===-1){
    setTimeout(function(){
      window.location.href ="http://www.jennifersmith.co.uk";
    }, 2000);
  }
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8689408-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

