%h1
  Site no longer maintained
%p
  You are being redirected to
  %a{:href=>"http://www.jennifersmith.co.uk"} www.jennifersmith.co.uk
%p
  Have a nice day
:javascript
  if(window.location.search.indexOf('noredirect')===-1){
    setTimeout(function(){
      window.location.href ="http://www.jennifersmith.co.uk";
    }, 2000);
  }
